<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>{{recipe.name}}</title>
    <link rel="stylesheet" href="{{url_for('static',filename='style.css')}}">
</head>
<body>
    <div class="top">
        <h1>{{recipe.name}}</h1>
        <div>
            <a href="/dashboard">Dashboard</a>
            <a href="/logout">Logout</a>
        </div>
    </div>
    <div class="innerForm view">
        <div class="info">
            <p>Description: </p>
            <p class="p">{{recipe.description}}</p>
        </div>
        <div class="info">
            <p>Instructions: </p>
            <p class="p">{{recipe.instructions}}</p>
        </div>
        <div class="info">  
            <p>Under 30 minutes: </p>
            <p class="p">{{recipe.under_30_minutes}}</p>
        </div>
        <div class="info">
            <p>date created: </p>
            <p class="p">{{recipe.created_at}}</p>
        </div>
    </div>
</body>
</html>